
:root {
    --text: #d4d4d4;
    --background: #363535;
    --off-text: #eeeeee;
    --off-background: #535353;
    --glow: #4eb4db;
    --highlight-text: #2e2e2e;
    --highlight-background: #8a8a8a;
}

body {
    padding: 1em;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: var(--highlight-text);
    background: var(--glow);
  }

.hidden {
    display: none;
}

input {
    border: none;
    border-radius: 4px;
    color: var(--text);
    background-color: var(--off-background);
}

input:hover, input:focus, input:active {
    outline: none;
    color: var(--highlight-text);
    background-color: var(--highlight-background);
}

label {
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
    width: auto;
    text-align: left;
    font-weight: bolder;
    color: var(--text);
}

button {
    transition: 0.25s;
    border: none;
    padding: none;
    text-align: center;
    cursor: pointer;
    color: var(--text);
    background-color: var(--off-background);
}

button:hover, button:focus {
    transition: 0.25s;
    color: var(--highlight-text);
    background-color: var(--highlight-background);
}

.container {
    position: relative;
    height: 100px;
    width: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#applicate {
    transition: 0.25s;
    height: 80px;
    line-height: 80px;
    width: 80px;
    font-weight: bold;
    border-radius: 50%;
    color: var(--off-text);
    background-color: var(--off-background);
}

#applicate:hover {
    transition: 0.25s;
    transform: scale(1.1);
    color: var(--highlight-text);
    background-color: var(--glow);
}

#applicate:active {
    transition: 0.1s;
    transform: scale(1.1);
}
