
:root {
    --text: #d4d4d4;
    --background: #4b4949;
    --off-text: #eeeeee;
    --off-background: #666666;
    --border-color: #2e2e2e;
    --highlight-text: #2e2e2e;
    --highlight-background: #a5a5a5;
}

body {
    padding: 1em;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

input {
    border: 2px solid var(--border-color);
    border-radius: 4px;
    color: var(--text);
    background-color: var(--off-background);
}

label {
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
    width: auto;
    text-align: left;
    font-weight: bold;
    color: var(--text);
}

button {
    border: none;
    padding: none;
    text-align: center;
    cursor: pointer;
    color: var(--text);
    background-color: var(--off-background);
}

button:hover {
    color: var(--highlight-text);
    background-color: var(--highlight-background);
}

.container {
    position: relative;
    height: 100px;
    width: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#applicate {
    transition: 0.25s;
    height: 80px;
    line-height: 80px;
    width: 80px;
    font-weight: bold;
    border-radius: 50%;
    color: var(--off-text);
    background-color: var(--off-background);
}

#applicate:hover {
    transition: 0.25s;
    transform: scale(1.2);
    color: var(--highlight-text);
    background-color: var(--highlight-background);
}

#applicate:active{
    transition: 0.1s;
    transform: scale(1.1);
}
